header {
  min-height: 60vh;
  background-image: url("../../assets/home/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
}
