header {
  height: 60vh;
  background-image: url("../../assets/home/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 10rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 100%;
}

.titleContainer h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  max-width: 500px;
}

.overline {
  color: #898989;
  letter-spacing: 0.6rem;
}

.description {
  color: #c4c4c4;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  max-width: 420px;
}

.navLine {
  padding-top: 2rem;
  border-bottom: 1px solid #434343;
}

.buttonContainer {
  padding-top: 1rem;
}

.buttonContainer button {
  background-color: #d87d4a;
  color: white;
  border: none;
  padding: 1rem 1.8rem;
  cursor: pointer;
}
