.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
}
.card {
  display: flex;
  gap: 5rem;
}

.reverse {
  flex-direction: row-reverse;
}
.imageContainer {
  max-width: 50%;
}
.imageContainer img {
  max-width: 500px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
